@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}

nav {
  position: relative;
  margin: 2.5%;
  background-color: white;
  color: black;
  display: flex;
  min-height: 8vh;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-style: italic;
}
nav .inicio {
  width: 10%;
  display: flex;
  align-items: center;
  padding-left: 3.5%;
}
nav .inicio img {
  border-radius: 200px;
  height: 50%;
  width: 50%;
}
nav .secciones {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav .secciones a {
  text-decoration: none;
  color: black;
  position: relative;
}
nav .secciones a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 22px;
  left: 0;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
nav .secciones a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
nav .perfil {
  width: 10%;
  text-align: right;
}
nav .perfil a {
  text-decoration: none;
  color: black;
}
nav .compras {
  width: 10%;
}
nav .compras .icono {
  text-align: center;
  margin-top: 7px;
  font-size: 25px;
  color: black;
}
nav .burger {
  display: none;
  font-size: 25px;
  font-weight: lighter;
}

@media screen and (max-width: 768px) {
  nav {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 2fr 7fr 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "burger inicio ... perfil compras";
    border-radius: 0px;
    margin: 0;
  }
  nav .inicio {
    grid-area: inicio;
  }
  nav .inicio a {
    margin-top: 2.6px;
  }
  nav .compras {
    grid-area: compras;
    width: auto;
    justify-self: center;
  }
  nav .compras .icono {
    text-align: none;
  }
  nav .perfil {
    width: auto;
    justify-self: center;
    align-self: center;
    grid-area: perfil;
  }
  nav .burger {
    grid-area: burger;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  nav .inicio img {
    min-width: 30px;
  }

  .secciones {
    position: absolute;
    left: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    transform: translateX(-100%);
    background-color: white;
    transition: transform 0.5s ease-in-out;
  }
}
.nav-active {
  background-color: white;
  transform: translateX(0%);
}

.itemList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.itemList a {
  width: calc(100% / 4 - 4px - -4px / 4 - 0.01px);
}

.linkItem {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  font-size: 13px;
  color: black;
}

.producto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 0.5fr 0.5fr;
  gap: 10px 0px;
  width: 98%;
  grid-template-areas: "img img img" "img img img" "nombre nombre nombre" "precio ... ...";
  height: auto;
  background-color: white;
}
.producto:hover .nombre {
  text-decoration: underline;
  color: black;
}

.img {
  grid-area: img;
  align-self: end;
}
.img img {
  width: 100%;
}

.nombre {
  grid-area: nombre;
  font-family: "DM Sans";
  font-weight: 500;
}

.precio {
  grid-area: precio;
  font-family: "DM Sans";
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .producto {
    margin-top: 40px;
  }

  .itemList {
    justify-content: flex-start;
  }
  .itemList a {
    width: calc(100% / 2 - 4px - -4px / 2 - 0.01px);
  }
}
@media screen and (max-width: 1279px) and (min-width: 480px) {
  .itemList a {
    width: calc(100% / 3 - 4px - -4px / 3 - 0.01px);
  }
}
* {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=App.css.map */
