@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

nav{
    position: relative;
    margin:2.5%;
    background-color: white;
    color: black;
    display: flex;
    min-height: 8vh;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-style: italic;
    .inicio{
        width: 10%;
        display: flex;
        align-items: center;
        padding-left:3.5%;
        img{
            border-radius: 200px;
            height: 50%;
            width: 50%;
        }   
    }
    .secciones{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        a{
            text-decoration: none;
            color: black;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width:100%;
                height: 2px;
                top: 22px;
                left:0;
                background-color: rgb(0, 0, 0);
                visibility: hidden;
                transform: scaleX(0);
                transition: all 0.3s ease-in-out;
              }
            &:hover::before{
                visibility: visible;
                transform: scaleX(1);
            }
        }
    }

    .perfil{
        width: 10%;
        text-align: right;
        a{
            text-decoration: none;
            color: black;
        }
    }

    .compras{
        width: 10%;
        .icono{
            text-align: center;
            margin-top: 7px;
            font-size: 25px; 
            color: black;   
          }
    }
    .burger{
        display: none;
        font-size: 25px;
        font-weight: lighter;
    }
}

@media screen and (max-width:768px){
    nav{ 
        position: fixed;
        display: grid;
        grid-template-columns: 1fr 2fr 7fr 1fr 3fr;
        grid-template-rows: 1fr;
        grid-template-areas: "burger inicio ... perfil compras";
        border-radius: 0px;
        margin: 0;
        .inicio{
            grid-area: inicio;
            a{
                margin-top:2.6px;
            }
        }
        .compras{
            grid-area: compras;
            width: auto;
            justify-self: center;
            .icono{
                text-align: none;
            }
        }
        .perfil{
            width: auto;
            justify-self: center;
            align-self: center;
            grid-area: perfil;
        }
        .burger{            
            grid-area: burger;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
        }
    }
    nav .inicio img{
                min-width: 30px;
            }
    .secciones{
        position: absolute;
        left: 0px;
        height: 92vh;
        top:8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:70%;
        transform :translateX(-100%);
        background-color: white;
        transition: transform .5s ease-in-out;
        
       

    }
}
.nav-active{
    background-color: white;
    transform: translateX(0%);
}