@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

nav{
    margin:2.5%;
    background-color: white;
    color: black;
    display: flex;
    border-radius: 40px;
    min-height: 8vh;
    justify-content: space-between;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    align-items: center;
    font-weight: 700;
    font-style: italic;
    .inicio{
        height: 90%;
        width: 10%;
        align-self: center;
        display: flex;
        align-items: center;
        padding-left:3.5%;
        img{
            border-radius: 200px;
            height: 50%;
            width: 50%;
        }   
    }
    .secciones{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        a{
            text-decoration: none;
            color: black;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                top: 22px;
                left:0;
                background-color: rgb(0, 0, 0);
                visibility: hidden;
                transform: scaleX(0);
                transition: all 0.3s ease-in-out;
              }
            &:hover::before{
                visibility: visible;
                transform: scaleX(1);
            }
        }
    }

    .perfil{
        width: 10%;
        text-align: right;
        a{
            text-decoration: none;
            color: black;
        }
    }

    .compras{
        width: 10%;
        .icono{
            margin-top: 7px;
            text-align: center;
            font-size: 25px; 
            color: black;   
          }
    }
    .burger{
        display: none;
        div{
            width: 25px;
            height: 5px;
            background-color: rgb(0, 0, 0);
            border-radius: 4px;
            margin: 5px;
        }
    }
}

@media screen and (max-width:768px){
    nav{ 
        border-radius: 0px;
        margin: 0px;
    }
    nav .inicio img{
                min-width: 30px;
            }
    .secciones{
        position: absolute;
        right: 0px;
        height: 92vh;
        top:8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform :translateX(100%);
    }
    .compras{
        position: absolute;
        left: 80px;
        top: 1%;
    }
    .perfil{
        position: absolute;
        left:128px;
        top: 2.3%;
    }
    nav .burger{
        cursor: pointer;
        display: block;
        position: absolute;
        left: 90%;
    }
}
.nav-active{
    transform: translateX(0%);
}